services:
  convert_app:
    build: .
    container_name: pressure_convert
    command: python3 -u system_convert.py
    privileged: true
    devices:
      - "/dev/i2c-1:/dev/i2c-1"
    volumes:
      - ./db:/app/db
    environment:
      - BLINKA_FORCEBOARD=RASPBERRY_PI_3
      - BLINKA_FORCECHIP=BCM2837
    restart: always

  uploader_app:
    build: .
    container_name: pressure_uploader
    command: python3 -u system_upload.py
    volumes:
      - ./db:/app/db
      - ./aws_iot:/app/aws_iot:ro
    restart: always
