services:
  uploader_app:
    build: .
    container_name: pressure_uploader
    command: python -u system_upload.py
    network_mode: host
    volumes:
      - ./db:/app/db
      - ./aws_iot:/app/aws_iot:ro
    environment:
      - BLINKA_FORCEBOARD=RASPBERRY_PI_5
      - BLINKA_FORCECHIP=BCM2712
    deploy:
      resources:
        limits:
          memory: 512M
