services:
  thee_app:
    build: .
    container_name: conversion_app
    volumes:
      - .:/app
    working_dir: /app
    command: python conversion.py

  uploader_app:
    build: .
    container_name: uploader_app
    volumes:
      - .:/app
    working_dir: /app
    command: python upload1.py
