services:
  uploader_app:
    build: .
    container_name: pressure_uploader
    command: python -u system_upload.py
    network_mode: host
    volumes:
      - ./db:/app/db
      - ./raspi:/app/raspi:ro
    environment:
      - BLINKA_FORCEBOARD=RASPBERRY_PI_5
      - BLINKA_FORCECHIP=BCM2712
      - BLINKA_USE_RPI_GPIO=1
      - PYTHONUNBUFFERED=1
    restart: always
    stdin_open: true
    tty: true
    deploy:
      resources:
        limits:
          memory: 300M
