#version: "3.9"

services:
  convert_app:
    build: .
    container_name: pressure_convert
    command: python3 system_convert.py
    privileged: true
    devices:
      - "/dev/i2c-1:/dev/i2c-1"
    volumes:
      - ./project.db:/app/project.db
    restart: always

  uploader_app:
    build: .
    container_name: pressure_uploader
    command: python3 system_upload.py
    volumes:
      - ./project.db:/app/project.db
      - ./aws_iot:/app/aws_iot:ro
    restart: always
