services:
  convert_app:
    build: .
    container_name: pressure_convert
    command: python3 -u system_convert.py
    privileged: true
    devices:
      # Map all gpiochips to ensure the new RP1 controller is found
      - "/dev/gpiochip0:/dev/gpiochip0"
      - "/dev/gpiochip4:/dev/gpiochip4" 
      - "/dev/i2c-1:/dev/i2c-1"
    volumes:
      - ./db:/app/db
    environment:
      # CORRECT VALUES FOR PI 5
      - BLINKA_FORCEBOARD=RASPBERRY_PI_5
      - BLINKA_FORCECHIP=BCM2712
    working_dir: /app
    tty: true
    stdin_open: true
    restart: "always"

  uploader_app:
    build: .
    container_name: pressure_uploader
    command: python3 -u system_upload.py
    volumes:
      - ./db:/app/db
      - ./aws_iot:/app/aws_iot:ro
    working_dir: /app
    tty: true
    stdin_open: true
    restart: "always"
