services:
  convert_app:
    build: .
    container_name: pressure_convert
    command: python system_convert.py
    privileged: true
    devices:
      - "/dev/i2c-1:/dev/i2c-1"
    volumes:
      - ./db:/app/db
    working_dir: /app
    restart: always

  uploader_app:
    build: .
    container_name: pressure_uploader
    command: python system_upload.py
    volumes:
      - ./db:/app/db
      - ./aws_iot:/app/aws_iot:ro
    working_dir: /app
    restart: always
