#version: "3.9"
services:
  thee_app:
    build: .
    container_name: conversion_app
    volumes:
      - .:/app
    working_dir: /app
    command: python conversion.py

  uploader_app:
    build: .
    container_name: uploader_app
    volumes:
      - .:/app
    working_dir: /app
    command: python upload1.py

  network_app:
    build: .
    container_name: network_app
    volumes:
      - .:/app
    working_dir: /app
    command: python -u network.py

  pressure_reader:
    build: .
    container_name: pressure_reader
    restart: unless-stopped
    privileged: true
    devices:
      - "/dev/i2c-1:/dev/i2c-1"
    volumes:
      - ./project.db:/app/project.db
    working_dir: /app
    command: python system_convert.py
