#version: "3.9"
services:
  thee_app:
    build: .
    container_name: conversion_app
    volumes:
      - .:/app
    working_dir: /app
    command: python conversion.py

  uploader_app:
    build: .
    container_name: uploader_app
    volumes:
      - .:/app
    working_dir: /app
    command: python upload1.py

  network_app:
    build: .
    container_name: network_app
    volumes:
      - .:/app
    working_dir: /app
    command: python -u network.py
