#version: "3.9"

services:

  capture_app:
    build: .
    container_name: pressure_capture
    command: python -u System_capture1.py
    network_mode: host
    privileged: true
    devices:
      - "/dev/i2c-1:/dev/i2c-1"
    volumes:
      - ./db:/app/db
    restart: always

  uploader_app:
    build: .
    container_name: pressure_uploader
    command: python -u System_upload1.py
    network_mode: host
    volumes:
      - ./db:/app/db
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - capture_app
    restart: always
